<div class="parent">
  <div i18n="Pełne i18n wraz z opisem i kluczem|@@app.component.full">Text content - full i18n tag with the description and the key</div>
  <div i18n appCamelCase>Text content - simplest i18n tag only</div>
  <div [title]="'Title binding'">Title binding</div>
  <input i18n-placeholder="Pełne i18n dla placeholdera z opisem i kluczem|@@app.component.input-placeholder-full" placeholder="to provide"/>
  <input i18n-placeholder placeholder="to provide"/>
  <input i18n-placeholder="Kilka atrybutów i18n w tym samym komponencie - placeholder|@@app.component.input-many-attributes-placeholder"
         placeholder="to provide"
         title="to provide - title"
         i18n-title="Kilka atrybutów i18n w tym samym komponencie - title|@@app.component.input-many-attributes-title"/>

  <div i18n-title="Tłumaczone 'title' dla parenta|@@app.component.parent-title"
       class="parent"
       title="to provide - title 2">
    <div *ngFor="let el of list">
      value of el - '{{el}}'
      <h5 i18n="Tłumaczenie dzieci|@@app.component.child-translate">
        Text content - this is child
      </h5>
      |||
      <h5 i18n="Tłumaczenie dzieci z interpolacją|@@app.component.child-translate-interpolation">
        Text content - this is child - '{{el}}'
      </h5>
      <h5 i18n="Tłumaczenie dzieci z html|@@app.component.child-translate-html">
        Text content - this is child - <span class="asd"><b>HTML</b></span>
      </h5>
      <h5 i18n="Tłumaczenie dzieci z interpolacją + html|@@app.component.child-translate-interpolation-html">
        Text content - this is child - <span><b>{{999 + el + 999}}</b></span> <span><b>{{'asd' + el + 'asd'}}</b></span>
      </h5>
    </div>
    ---
    <h2 i18n="Informacja o pozostalym limice na zapraszanie użytkowników|@@people-invite.component.users-limit-info-remaining">
      You can invite only <b>{{maxNumberOfInvitations}}</b> more {maxNumberOfInvitations, plural, =1 {person} other {people}} before reaching the limit (<b>{{numberOfUsersLimit}}</b>) for your organization.
    </h2>
  </div>
  <input type="number" (change)="updateInvitationsNUmber($event)"/>
</div>
