<div class="parent">
  <div i18n="Pełne i18n wraz z opisem i kluczem|@@app.component.full">Text content - full i18n tag with the description and the key</div>
  <div i18n appCamelCase>Text content - simplest i18n tag only</div>
  <div [title]="'Title binding'">Title binding</div>
  <input i18n-placeholder="Pełne i18n dla placeholdera z opisem i kluczem|@@app.component.input-placeholder-full" placeholder="to provide"/>
  <input i18n-placeholder placeholder="to provide"/>
  <h1 class="page-title" i18n="Oops|@@addon-required.component.oops"><b>Oops..</b></h1>
  <input i18n-placeholder="Kilka atrybutów i18n w tym samym komponencie - placeholder|@@app.component.input-many-attributes-placeholder"
         placeholder="to provide"
         title="to provide - title"
         i18n-title="Kilka atrybutów i18n w tym samym komponencie - title|@@app.component.input-many-attributes-title"/>

  <button mat-raised-button
          color="primary"
          class="button-big"
          [disabled]="123"
          i18n="Zaktualizuj|@@common.buttons.update">
    UPDATE
  </button>

  <div i18n-title="Tłumaczone 'title' dla parenta|@@app.component.parent-title"
       class="parent"
       title="to provide - title 2">
    <div *ngFor="let el of list">
      value of el - '{{el}}'
      <h5 i18n="Tłumaczenie dzieci|@@app.component.child-translate">
        Text content - this is child
      </h5>
      |||
      <h5 i18n="Tłumaczenie dzieci z interpolacją|@@app.component.child-translate-interpolation">
        Text content - this is child - '{{el}}'
      </h5>
      <h5 i18n="Tłumaczenie dzieci z html|@@app.component.child-translate-html">
        Text content - this is child - <span class="asd"><b>HTML</b></span>
      </h5>
      <h5 i18n="Tłumaczenie dzieci z interpolacją + html|@@app.component.child-translate-interpolation-html">
        Text content - this is child - <span><b>{{999 + el + 999}}</b></span> <span><b>{{'asd' + el + 'asd'}}</b></span>
      </h5>
    </div>
    ---
    <h2 i18n="Informacja o pozostalym limice na zapraszanie użytkowników|@@people-invite.component.users-limit-info-remaining">
      You can invite only <b>{{maxNumberOfInvitations}}</b> more {maxNumberOfInvitations, plural, =1 {person} other {people}} before reaching the limit (<b>{{numberOfUsersLimit}}</b>) for your organization.
    </h2>
    ---
    <span
      i18n="Rodzaje zespołów (liczba pojedyncza)|@@teams-edit.component.team-context-singular">Hejo tu select: {objSelect['context'].value, select, UNIT {UNIT} TEAM {TEAM} PROJECT {PROJECT}}
      {value, select, ASD {ASD} zxc {<span class="blue">HTML</span>} 234 { {{value + 1}} }}</span>

    <div class="requested-bar vertical-and-horizontal-center" i18n="Zażądane przez...|@@addon-card.component.request-by">
      {addon.requestsCount, plural, =1 {Requested by {{addon.requestsCount}} user} other {Requested by {{addon.requestsCountAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa}} users}}
    </div>

    <h5 class="card-title">
      <span  i18n="Nagłówek stwórz nowy zespół|@@teams-edit.component.create-new">CREATE NEW</span>
      <span  i18n="Nagłówek edytuj zespół|@@teams-edit.component.edit-team">EDIT</span>&nbsp;
      <span
        i18n="Rodzaje zespołów (liczba pojedyncza)|@@teams-edit.component.team-context-singular-zxc">{formGroup, select, UNIT {UNIT} TEAM {TEAM} PROJECT {PROJECT}}</span>
    </h5>

  </div>

  <div>
    <ng-container i18n="Informacja, że hasło jest nieprawidłowe|@@common.errors.password-wrong-pattern-error">Password does not meet the </ng-container><div class="button-show-dialog" [title]="'app-password-info-dialog'" i18n="Wymagany wzór|@@common.errors.expected-pattern">expected pattern</div>
  </div>

  <div>
                  <span class="hide-on-lg-and-up navbar-button-label"
                        i18n="Profile|@@sidenav.component.profile">PROFILE</span>
  </div>

  <div>
    <div class="badges-wrapper">
      <div *ngIf="post.important"
           class="badge important-badge"
           (click)="filterByImportant()"
           matTooltip="Filter by important"
           i18n-matTooltip="Pokaż tylko ważne posty|@@wall.common.filter-by-important"
           i18n="Post oznaczony jako ważny|@@wall-post-list-item.component.important-badge">
        Important
      </div>
      <div *ngIf="post.showNewFlag"
           class="badge new-badge"
           (click)="filterByNew()"
           matTooltip="Filter by new"
           i18n-matTooltip="Pokaż tylko nowe posty|@@wall.common.filter-by-new"
           i18n="Post oznaczony jako nowy|@@wall-post-list-item.component.new-badge">
        New
      </div>
  </div>

    <h5 class="card-title">
      <span i18n="Nagłówek stwórz nowy zespół|@@teams-edit.component.create-new">CREATE NEW</span>
      <span i18n="Nagłówek stwórz nowy zespół|@@teams-edit.component.create-new">CREATE NEW</span>
      <span i18n="Nagłówek stwórz nowy zespół|@@teams-edit.component.create-new">CREATE NEW</span>
    </h5>

    <div i18n="To się nie uda - i18n z dyrektywą||@@not-working.directive">
      <span [appCamelCase]="'dupa'">directive with param</span>
      <span appCamelCase>directive </span>
    </div>

    <div i18n="To się nie uda - i18n z dyrektywą strukturalną||@@not-working.structural-directive">
      <span *ngIf="value === '111'">structural directive</span>
    </div>

    <input (change)="updateInvitationsNUmber($event)" type="number"/>
    <input (change)="updateValue($event)" type="text"/>
    <select (change)="updateSelectValue($event)" name="cars">
      <option value="UNIT">-UNIT-</option>
      <option value="TEAM">-TEAM-</option>
      <option value="PROJECT">-PROJECT-</option>
    </select>
  </div>
</div>
