.parent {
  display: flex;
  flex-direction: column;
}

.parent > * {
  padding: 5px;
  margin: 10px;
}

::::::::::::::::.asd {
  background-color: red;
  display: inline-block;
  position: relative;
}

:host ::ng-deep .blue {
  color: blue;
  font-weight: bold;
}
